@font-face {
  font-family: 'FirstFont';
  font-weight: normal;
  src: url('https://mdn.github.io/css-examples/web-fonts/VeraSeBd.ttf');
}
.center_box {
  position: absolute;
  font-family: 'FirstFont';
  display: flex;
  min-height: 80vh;
  left: 30vw;
  font-size: 30px;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition-property: font-size;
  transition-duration: 1s;

  /* animation-play-state: paused; */
}
.center_box:hover {
  font-size: 50px;
}

.partners_containers {
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 5px 2px #b393d3;
  font-size: 1.5rem;
  margin-top: 5vh;
}
@keyframes mymove {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.partners {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 400px;
  height: 300px;
  position: absolute;
}
.left {
  left: 5vw;
}
.fade {
  animation: fadeIn 5s;
}
.right {
  right: 5vw;
}
#student_image {
  width: 10w;
  height: 20vh;
  border-radius: 5%;
  margin: 20px;
}
.footer {
  column-count: 4;
  max-width: 70%;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
