
.call-button {
	text-align: center;
}


.bottom_nav{
	background-image: linear-gradient(to right, black , rgba(147, 133, 129, 0.555));
}
.AdminAnswer{
	background-image: linear-gradient(to right, black , rgba(147, 133, 129, 0.555));
	border-radius: 15px;
	text-align: center;
	opacity: 0.9;
	position: relative;
	top:25vh;
	font-size:0.7rem;
	font-family: 'Roboto', sans-serif;
}
.AdminLeave{
	position: fixed;
	right: 20em;
	top: 10em;
	z-index:10000;
	height: 50px;
	width: 400px;
	background-color:rgb(198, 231, 106);
	border-radius: 15px;
	border: 1px solid black;
	text-align: center;
}
.caller {
	text-align: center;
	color: black;
}
.container{
	position: fixed;
	left: 1vw;
	bottom: 8vh;
	z-index:100000;
	height: 450px;
	width: 13vw;
	display: flex;
	flex-direction: column;
}
video{
	width: 11vw;
	height: 180px;
	position: relative;
	top:1vh;
	margin:auto;
}
